*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.center{
  max-width: 1100px;
  margin: 0 auto;
  padding:0 2%;
  display: flex;
  flex-wrap: wrap;
}

header{
  background-color: #66CDAA;
  padding:20px 0;
  border-botton: 1px solid rgb(200,200,200);
}

.logo{
  color: #FFFAFA;
}

.logo h2{
  font-weight: normal;
  font-size: 22px;
}

.menu{
  /*position: fixed;*/
  width: 70%;
  text-align: right;
}

.menu a{
  color: #FFFAFA;
  font-size: 14px;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.5s;
}

.menu a:hover{
  color: #2E8B57;
}

.menu .btn-menu{
  background-color: #90EE90;
  display: inline-block;
  padding: 4px 10px;
  color: #FFFAFA;
  border-radius: 12px;
}

.menu .btn-menu:hover{
  background-color: #3CB371;
  color: #FFFAFA;
}

/*
Section Main
*/
section.main{
 background-image: url('https://scontent-for1-1.xx.fbcdn.net/v/t39.30808-6/306666116_609513203960218_2382066920836078201_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a26aad&_nc_ohc=R4O_9Q3ZTq4AX_o3ZK-&_nc_ht=scontent-for1-1.xx&oh=00_AT9aR7LJtFMBNJqe_c01DEJEAUA9iF0E_EIgNjzBSGjfCw&oe=633F228B');
  padding: 10px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.main-cta{
  width: 100%;
  margin: 30px 0;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
}

.main-cta h2{
  color: #008080;
  font-size: 80px;
}

.main-cta p{
  color: #454545;
  font-size: 25px;
}

.main-cta a{
  
  color: #008080;
  font-size: 25px;
}

.main-cta button{
  margin: 15px;
  background-color: #008080;
  display: inline-block;
  padding: 10px 30px;
  color: #FFFAFA;
  font-size: 18px;
  border-radius: 12px;
  border: 0;
  cursor: pointer;
}

.main-cta button:hover{
  background-color: #3CB371;
  color: #FFFAFA;
  transition: 0.5s;
}

.diferenciais{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.diferencial-single{
  background-color: #FFFAFA;
  width: 23%;
  margin-right: 2%;
  border-radius: 6px;
  padding: 40px 20px;
}

.diferencial-single i{
  font-size: 25px;
  color: #008080;
}



.diferencial-single h2{
  margin: 10px 0;
  color: #008080;
}

.diferencial-single p{
  color: grey;
  font-size: 16px;
  margin: 5px 0;
}

.diferencial-single iframe{
  width: 100%;
  padding: 120px 0;
  margin: -110px 0;
}

section.diretoria{
  background: url(https://scontent-for1-1.xx.fbcdn.net/v/t1.6435-9/90143901_126560462255497_6506618064639885312_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a26aad&_nc_ohc=qUNxupKL0QEAX9Xo5BT&_nc_ht=scontent-for1-1.xx&oh=00_AT8irZn64pXLvWehqcuRdfHl0CbaXY6t5kMt7d_gsepU3A&oe=63579489);
  padding: 80px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.chamada-diretoria{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0px 0;
  text-align: center;
  border-radius: 8px;
  background-color: #FFFAFA;
  
}

.chamada-diretoria h2{
  font-size: 40px;
  color: #008080;
  text-transform: uppercase;
  margin: 15px;
}

.chamada-diretoria p{
  font-size: 14px;
  color: #3CB371;
  margin: 5px 0;
}

.conteudo-diretoria{
  width: 100%;
  text-align: center;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  background-color: #FFFAFA;
  display: flex;
  flex-wrap: wrap;
}

.conteudo-diretoria p{
  text-align: center;
  font-size: 22px;
}

.conteudo-diretoria span{
  font-size: 22px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.conteudo-diretoria i{
  color: #008080;
}



section.sobre{
  background: url('https://scontent-for1-1.xx.fbcdn.net/v/t39.30808-6/306641195_609513183960220_3138851114541969149_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=a26aad&_nc_ohc=IH27HGYPz1AAX9E-GWc&_nc_ht=scontent-for1-1.xx&oh=00_AT-yApslMiNVC455CiSIw2dGRPXR3K_fAO4AH3EColMBcw&oe=633EA321');
  padding: 80px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  background-color: #FFFAFA;
}

.chamada-sobre{
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0px 0;
  text-align: center;
  border-radius: 8px;
  background-color: #FFFAFA;
  width: 100%;
  text-align: center;
}

.chamada-sobre h2{
  font-size: 40px;
  color: #008080;
  text-transform: uppercase;
}

.chamada-sobre p{
  font-size: 14px;
  color: #3CB371;
  margin: 10px 0;
}

.conteudo-sobre{
  width: 100%;
  text-align: center;
  padding: 5px 0;
  margin: -15px 0;
  text-align: center;
  border-radius: 8px;
  background-color: #FFFAFA;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.conteudo-sobre p{
  text-align: left;
  width: 46%;
  margin: 2%;
  margin-right: 2%;
  font-size: 18px;
}

.conteudo-sobre span{
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.conteudo-sobre i{
  color: #008080;
}

section.contribuir{
  margin: 40px;
  background-color: #FFFAFA;
  padding: 80px 0;
}

.chamada-contribua{
  width: 100%;
  text-align: center;
}

.chamada-contribua h2{
  font-size: 40px;
  color: #008080;
  text-transform: uppercase;
}

.chamada-contribua p{
  font-size: 14px;
  color: #3CB371;
  margin: 10px 0;
}

.conteudo-contribua{
  display: flex;
  flex-wrap: wrap;
}

.conteudo-contribua p{
  width: 48%;
  margin-right: 2%;
  font-size: 18px;
}

.conteudo-contribua span{
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.conteudo-contribua i{
  color: #008080;
}


section.contato{
  border-radius: 8px;
  margin: 160px;
  background-color: #D1F2EB;
  padding: 20px 30px;
  margin-left: 25px;
}

.contato h2{
  font-size: 25px;
  color: #008080;
}

section.fim{
    background: url('https://scontent-for1-1.xx.fbcdn.net/v/t1.6435-9/90296920_127124108865799_3475928337006723072_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_ohc=2-zSX9ohjzgAX8c_pm1&_nc_ht=scontent-for1-1.xx&oh=00_AT9YG4oxmGMYbjQogHX1X0xef0_DYzvkXSZPAoaL4hn6sA&oe=635EF4C8');
  padding: 250px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 20px 0;
  background-color: #FFFAFA;
  background-position: center;
  border-radius: 16px;
}


@media screen and (max-width: 760px){
  .diferencial-single{
    width: 100%
  }
  .conteudo-sobre{
  width: 100%;
  }
}
